
<footer id="page-footer">
        <div id="footer-inner" class="container">
                <div class="row">
                        <div class="col-md-6">
                                <ul id="footer-navigation" class="nav nav-pills">
                                        <li><a href="https://github.com/LordAkkarin/BaseDefense2">Source</a></li>
                                        <li>
                                                <a href="https://github.com/LordAkkarin/BaseDefense2/issues">Bugtracker</a>
                                        </li>
                                        <li>
                                                <a href="https://github.com/LordAkkarin/BaseDefense2/graphs/contributors">
                                                        Contributors
                                                </a>
                                        </li>
                                </ul>
                        </div>
                        <div class="col-md-6 text-right">
                                <p class="text-muted copyright">
                                        Copyright &copy; 2015 Spud Team
                                </p>
                        </div>
                </div>
        </div>
</footer>
