<header id="page-header">
        <div class="container text-center jumbo">
                <div class="row">
                        <div class="col-sm-12">
                                <h1>Base Defense 2</h1>
                                <h2>Protection for mad scientists</h2>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                                <a href="http://adf.ly/6922120/base-defense-universal"
                                        class="btn btn-outline btn-lg btn-block">
                                        Download
                                </a>
                        </div>
                        <div class="col-md-3">
                                <a href="http://adf.ly/6922120/base-defense-development"
                                        class="btn btn-outline btn-lg btn-block">
                                        Download (Dev)
                                </a>
                        </div>
                </div>

                <div id="build" class="row" style="display: none">
                        <div class="col-sm-12 text-center">
                                <p>Latest Build: #<span id="build-number">?</span></p>
                        </div>
                </div>
        </div>
</header>
